# 1. Download SP500 Price Data

## 1.1 Import all necessary libraries

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplt
import statsmodels.api as sm
import pandas_datareader.data as web
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
from statsmodels.regression.rolling import RollingOLS

In [36]:
warnings.filterwarnings('ignore')

## 1.2 Download the SP500 Constituent Data

In [37]:
sp500 = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
print(type(sp500[0]))

<class 'pandas.core.frame.DataFrame'>

## 1.3 Clean the Data

- Isolate the ticker symbols
- Store the isoalted ticker symbols into a list

In [38]:
tickers_list = sp500[0]["Symbol"].tolist()

## 1.4 Take the start and end date to determine a range

- For this example, I will use 8 years

In [43]:
end_date = dt.datetime.today()
start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

## 1.5.1 Per ticker, download the necessary information from the start date to the end date

In [45]:
df = yf.download(tickers=tickers_list, 
                 start = start_date, 
                 end = end_date)
df

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2016-04-28 17:10:43.763668 -> 2024-04-26 17:10:43.763668)')

Price        Adj Close                         ...   Volume
Ticker               A        AAL        AAPL  ...      ZBH    ZBRA      ZTS
Date                                           ...
2016-04-28   38.642582  34.468357   21.672606  ...  2558108  575100  1888600
2016-04-29   38.398598  33.241798   21.423491  ...  2028379  548800  3342300
2016-05-02   39.139927  33.088028   21.400637  ...  1681681  392400  3705400
2016-05-03   38.698875  33.232185   21.752594  ...  1185324  453600  4474600
2016-05-04   38.023243  31.915590   21.526340  ...  1356510  451100  5430400
...                ...        ...         ...  ...      ...     ...      ...
2024-04-19  132.729996  14.110000  165.000000  ...  1301600  351500  6162800
2024-04-22  133.910004  14.530000  165.839996  ...   918300  305100  4545000
2024-04-23  139.199997  14.230000  166.899994  ...   742800  245800  4315300
2024-04-24  137.490005  13.920000  169.020004  ...   978700  322600  3640300
2024-04-25  136.369995  14.130000  169.889999  ...  1078800  674700  4566800

[2012 rows x 3018 columns]

# 1.5.2 Make Data More Readable

In [51]:
df.stack()

Price               Adj Close       Close  ...        Open       Volume
Date       Ticker                          ...
2016-04-28 A        38.642582   41.180000  ...   41.250000    1549800.0
           AAL      34.468357   35.970001  ...   37.040001    9836800.0
           AAPL     21.672606   23.707500  ...   24.402500  328970800.0
           ABBV     43.371487   61.200001  ...   58.560001   16235400.0
           ABT      34.886658   40.419998  ...   40.080002   54527700.0
...                       ...         ...  ...         ...          ...
2024-04-25 XYL     130.610001  130.610001  ...  129.619995     963600.0
           YUM     141.559998  141.559998  ...  141.979996    1692800.0
           ZBH     119.750000  119.750000  ...  120.709999    1078800.0
           ZBRA    292.529999  292.529999  ...  274.359985     674700.0
           ZTS     153.360001  153.360001  ...  150.970001    4566800.0

[988098 rows x 6 columns]

# 2. Calculate Different Technical Indicators per Stock

- RSI
- Bollinger Bands
- MACD
- ATR
- Garman-Klass Volatility
- Dollar Volume

# 3. Aggregate on Monthly Level and Filter per Month the Most Liquid Stocks

# 4. Calculate Monthly Returns for Different Time-Horizons

# 5. Download Fama-French Factors; Calculate Rolling Factor Betas Per Stock

# 6.  Per Month, Create a K-means Clustering Model to group similar assets based on their Features

# 7. Per Month, Select Assets Based on the Cluster and Build a Portfolio Based on That

# 8. Visualize the Portfolio Returns and Compare That with the SP500